<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WAdmin</title>
    <link href="~/admin/css/layout.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/admin/css/style.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/lib/datetimepicker-jquery-plugin/css/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="~/lib/notifyjs-master/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <div class="box-left">
        <div class="logo">
            <a href="" title="trang chủ" class=""></a>
        </div>
        <div class="box-user">
            <div class="avatar-user">
            </div>
            <div class="info-user">
                @*<p class="name">@User.GetSpecificClaim("FullName")</p>*@
                <p class="role">Admin</p>
            </div>
        </div>
        @*@await Component.InvokeAsync("SileBar")*@
        @*<div class="silebar-menu">
                <ul class="">
                    <li>
                        <a class="title-name-menu title-partent" href="javascript:void(0)"> <i class="fa fa-download" aria-hidden="true"></i> Product Manager</a>
                        <ul class="child-menu">
                            <li class="title-sub-menu">
                                <a href="javascript:void(0)" class="title-name-menu title-child-menu">Category</a>
                            </li>
                            <li class="title-sub-menu">
                                <a href="javascript:void(0)" class="title-name-menu title-child-menu">Product</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>*@
    </div>
    <div class="box-right">
        <div class="top-nav">
            <div class="top-menu">
                <div class="top-left">
                    <div class="res-menu" data-status="0">
                        <p class="dash-menu"></p>
                        <p class="dash-menu"></p>
                        <p class="dash-menu"></p>
                    </div>
                </div>
                <div class="top-right">

                </div>
            </div>
        </div>
        <div class="box-center">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/admin/js/layout.js"></script>
    <script src="~/admin/js/shared/shared.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/lib/datetimepicker-jquery-plugin/js/jquery.datetimepicker.js"></script>
    <script src="~/lib/bootbox/bootbox.all.min.js"></script>
    <script src="~/lib/notifyjs-master/dist/notify.js"></script>
    @*<script type="text/javascript">
        $(document).ready(function () {
            FormatDatetimepicker();
        })

    </script>*@
    @RenderSection("Scripts", required: false)


</body>
</html>
